{% extends "bootstrap/base.html" %}

{% block title %}GeoPhotoFlask{% endblock %}



{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" integrity="sha256-YR4HrDE479EpYZgeTkQfgVJq08+277UXxMLbi/YP69o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.46.0/mapbox-gl.css" integrity="sha256-UHkUiH6yIVzptqZGAmk+QHd0zxS5v8d2CO9eLJVYwE4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.0/MarkerCluster.Default.css" integrity="sha256-LWhzWaQGZRsWFrrJxg+6Zn8TT84k0/trtiHBc6qcGpY=" crossorigin="anonymous" />
    <link rel="stylesheet" href{{url_for('.static',filename='css/Leaflet.Photo.css')}} /> 
    <link rel="stylesheet" href="{{url_for('.static',filename='css/main.css')}}" /> 
    
{% endblock %}

{% block scripts %}
     {{super()}}
         <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $REPO = {{ repo|tojson|safe }};
        $MAPBOX_TOKEN = {{config.MAPBOX_TOKEN|tojson|safe}}
    </script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js" integrity="sha256-tfcLorv/GWSrbbsn6NVgflWp1YOmTjyJ8HWtfXaOaJc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.46.0/mapbox-gl.js" integrity="sha256-uOX6dqVqKyehvKbOMmChiqd8NHUOrUj0Y7Rxu+ckUAI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js" integrity="sha256-V9GWip6STrPGZ47Fl52caWO8LhKidMGdFvZbjFUlRFs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.0/leaflet.markercluster.js" integrity="sha256-gJzj3pEmcZJLfdBdrjEwZgNkDs6NX8D4qhrn7UqrCVc=" crossorigin="anonymous"></script>
    <script src="{{url_for('.static', filename='js/lib/Leaflet.Photo.js')}}"></script>
    
    <script src="{{url_for('.static', filename='js/map.js')}}"></script>
    <script src="{{url_for('.static', filename='js/map_leaflet.js')}}"></script>
{% endblock %}


{% block content %}
    <!--<div id='map' style="width:100%; height:700px;"></div>-->
    
    <div id='map_leaflet' style="width:100%; height:700px;"></div>
<!--
    <dl><h3>Fonctionnalités futures</h3>
        <dd>Corriger la géolocalisation des photos</dd>
        <dd>Afficher les images non-localisées</dd>
        <dd>Redresser les images automatiquement</dd>
        <dd>Changer le fond de carte</dd>
    </dl>
   -->    

   <a href="http://flask.pocoo.org/"><img
   src="http://flask.pocoo.org/static/badges/made-with-flask-s.png"
   border="0"
   alt="made with Flask"
   title="made with Flask"></a>
       
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photo</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
