{% if size %}
<div align='center'><a href={{url_for('.direct_img',img=img,size='original')}}><img src={{url_for('.direct_img',img=img,size=size)}} width='100%'></a></div>
{% else %}
<img src="{{url_for('.static',filename='phototheque/'+img)}}">
{% endif%}

